<nav>
  <div class="logo">
    <span class="firstname">SANDEEP</span><span class="lastname">KANE</span>
  </div>
  <div class="mini-logo">
    <img src="img/mini_logo.png" alt="">
  </div>
  <ul>
    <li><a href="#2"><i class="fa fa-user"></i> <em>About</em></a></li>
    <li><a href="#3"><i class="fa fa-pencil"></i> <em>Experience</em></a></li>
    <li><a href="#4"><i class="fa fa-image"></i> <em>Education</em></a></li>
    <li><a href="#5"><i class="fa fa-envelope"></i> <em>Skills</em></a></li>
    <li><a href="#5"><i class="fa fa-envelope"></i> <em>Interests</em></a></li>
    <li><a href="#5"><i class="fa fa-trophy"></i> <em>Awards</em></a></li>
  </ul>
</nav>
